Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.32.3)
Collecting zipfile36
  Using cached zipfile36-0.1.3-py3-none-any.whl.metadata (736 bytes)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement io (from versions: none)
ERROR: No matching distribution found for io

In [8]:
import requests
import zipfile
import io
import pandas as pd
from datetime import date

# Set the date for the file you want to download
# Using a specific date that is known to be available
# Change this date as needed, for example: date_to_download = date(2025, 9, 21)
date_to_download = date(2025, 9, 21)
date_str = date_to_download.strftime("%Y%m%d")

# Construct the URL
url = f"http://data.gdeltproject.org/events/{date_str}.export.CSV.zip"
print(f"Attempting to download GDELT file for {date_str}...")

try:
    # Download the compressed file
    response = requests.get(url)
    
    # Check if the download was successful
    if response.status_code == 200:
        print("File downloaded successfully.")
        
        # Read the zip content into memory
        zip_content = io.BytesIO(response.content)
        
        # Decompress the CSV file and load into a pandas DataFrame
        with zipfile.ZipFile(zip_content, 'r') as zip_ref:
            csv_file_name = zip_ref.namelist()[0]
            df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')
        
        print("Data loaded into DataFrame.")
        
        # Define the Excel file name
        excel_filename = f"gdelt_events_{date_str}.xlsx"
        
        # Export the DataFrame to an Excel file
        df.to_excel(excel_filename, index=False)
        
        print(f"\nData successfully exported to '{excel_filename}'.")
    elif response.status_code == 404:
        print(f"Error 404: The file for {date_str} was not found on the GDELT server.")
        print("Possible reasons: The data has not been published yet or the date is incorrect.")
        print("Please check the GDELT data download page to confirm availability.")
    else:
        print(f"An unexpected error occurred with status code: {response.status_code}")

except requests.exceptions.RequestException as e:
    print(f"Network error: {e}")
except zipfile.BadZipFile:
    print("The downloaded file is not a valid ZIP file.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Attempting to download GDELT file for 20250921...
File downloaded successfully.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\2090589138.py:31: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

Data loaded into DataFrame.

Data successfully exported to 'gdelt_events_20250921.xlsx'.

In [17]:
import requests
import zipfile
import io
import pandas as pd
from datetime import date, timedelta

# =========================================================================
# === PARTIE 1 : DÃ©finition des intervalles de dates que vous pouvez modifier ===
# =========================================================================

# Option 1 : PÃ©riode dynamique (basÃ©e sur la date d'aujourd'hui)
# yesterday = date.today() - timedelta(days=1)
# start_date = yesterday - timedelta(days=6)  # 6 jours avant hier = 7 jours au total

# Option 2 : PÃ©riode fixe (pour analyser une plage spÃ©cifique)
# DÃ©commentez les deux lignes ci-dessous si vous voulez une pÃ©riode fixe
start_date = date(2025, 9, 10)  # Changez l'annÃ©e, le mois et le jour
yesterday = date(2025, 9, 22)    # Changez l'annÃ©e, le mois et le jour

# =========================================================================
# === PARTIE 2 : Boucle de tÃ©lÃ©chargement et de traitement des donnÃ©es ===
# =========================================================================

# Liste pour stocker les DataFrames de chaque jour
all_data = []

# Calcul du nombre de jours dans l'intervalle
num_days = (yesterday - start_date).days + 1
print(f"TÃ©lÃ©chargement des donnÃ©es GDELT du {start_date} au {yesterday} ({num_days} jours)...")

# Boucle sur la pÃ©riode dÃ©finie
for i in range(num_days):
    current_date = start_date + timedelta(days=i)
    date_str = current_date.strftime("%Y%m%d")
    url = f"http://data.gdeltproject.org/events/{date_str}.export.CSV.zip"

    try:
        response = requests.get(url)

        if response.status_code == 200:
            print(f"âœ… Fichier pour le {date_str} tÃ©lÃ©chargÃ© avec succÃ¨s.")
            zip_content = io.BytesIO(response.content)

            with zipfile.ZipFile(zip_content, 'r') as zip_ref:
                csv_file_name = zip_ref.namelist()[0]
                # Le format GDELT utilise la tabulation comme sÃ©parateur
                df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')
            
            df['Date'] = current_date
            all_data.append(df)
            
        elif response.status_code == 404:
            print(f"âŒ Le fichier pour le {date_str} n'a pas Ã©tÃ© trouvÃ© (Erreur 404).")
        else:
            print(f"âš ï¸ Erreur inattendue pour le {date_str} : {response.status_code}")

    except requests.exceptions.RequestException as e:
        print(f"âš ï¸ Erreur de rÃ©seau lors du tÃ©lÃ©chargement pour le {date_str} : {e}")
    except Exception as e:
        print(f"âš ï¸ Une erreur s'est produite lors du traitement du fichier pour le {date_str} : {e}")

# =========================================================================
# === PARTIE 3 : Consolidation et affichage des rÃ©sultats ===
# =========================================================================

# Consolidation des donnÃ©es si des fichiers ont Ã©tÃ© tÃ©lÃ©chargÃ©s
if all_data:
    print("\nðŸ“¦ Consolidation de tous les DataFrames en un seul...")
    final_df = pd.concat(all_data, ignore_index=True)
    
    print(f"\nâœ… DonnÃ©es chargÃ©es dans le DataFrame 'final_df'.")
    print(f"Taille du DataFrame : {final_df.shape[0]} lignes et {final_df.shape[1]} colonnes.")
    
    # Affiche les 5 premiÃ¨res lignes du DataFrame pour vÃ©rification
    print("\nAperÃ§u du DataFrame :")
    print(final_df.head())
else:
    final_df = pd.DataFrame()
    print("\nâŒ Aucune donnÃ©e n'a Ã©tÃ© tÃ©lÃ©chargÃ©e. Le DataFrame 'final_df' est vide.")

# La variable 'final_df' contient maintenant toutes les donnÃ©es.
# Vous pouvez continuer Ã  travailler sur ce DataFrame directement.

TÃ©lÃ©chargement des donnÃ©es GDELT du 2025-09-10 au 2025-09-22 (13 jours)...
âœ… Fichier pour le 20250910 tÃ©lÃ©chargÃ© avec succÃ¨s.
âœ… Fichier pour le 20250911 tÃ©lÃ©chargÃ© avec succÃ¨s.
âœ… Fichier pour le 20250912 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250913 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (8,10,11,14,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250914 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (14,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250915 tÃ©lÃ©chargÃ© avec succÃ¨s.
âœ… Fichier pour le 20250916 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250917 tÃ©lÃ©chargÃ© avec succÃ¨s.
âœ… Fichier pour le 20250918 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (14,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250919 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (11,14,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250920 tÃ©lÃ©chargÃ© avec succÃ¨s.
âœ… Fichier pour le 20250921 tÃ©lÃ©chargÃ© avec succÃ¨s.

C:\Users\jeanc\AppData\Local\Temp\ipykernel_38960\424091.py:47: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zip_ref.open(csv_file_name), sep='\t', header=None, encoding='ISO-8859-1')

âœ… Fichier pour le 20250922 tÃ©lÃ©chargÃ© avec succÃ¨s.

ðŸ“¦ Consolidation de tous les DataFrames en un seul...

âœ… DonnÃ©es chargÃ©es dans le DataFrame 'final_df'.
Taille du DataFrame : 1518833 lignes et 59 colonnes.

AperÃ§u du DataFrame :
            0         1       2     3          4    5    6    7    8    9  \
0  1262227594  20240910  202409  2024  2024.6849  NaN  NaN  NaN  NaN  NaN
1  1262227595  20240910  202409  2024  2024.6849  NaN  NaN  NaN  NaN  NaN
2  1262227596  20240910  202409  2024  2024.6849  NaN  NaN  NaN  NaN  NaN
3  1262227597  20240910  202409  2024  2024.6849  NaN  NaN  NaN  NaN  NaN
4  1262227598  20240910  202409  2024  2024.6849  NaN  NaN  NaN  NaN  NaN

   ... 49                       50  51    52         53        54        55  \
0  ...  1            United States  US    US  39.828175  -98.5795        US
1  ...  4    Xiaomi, Fujian, China  CH  CH07  25.222500  116.0570  10999868
2  ...  2  Missouri, United States  US  USMO  38.462300  -92.3020        MO
3  ...  2  Missouri, United States  US  USMO  38.462300  -92.3020        MO
4  ...  2     Texas, United States  US  USTX  31.106000  -97.6475        TX

         56                                                 57        Date
0  20250910  https://voiceonline.com/b-c-premier-david-eby-...  2025-09-10
1  20250910  https://www.scmp.com/business/china-business/a...  2025-09-10
2  20250910  https://khqa.com/news/local/missouri-republica...  2025-09-10
3  20250910  https://khqa.com/news/local/missouri-republica...  2025-09-10
4  20250910  https://khqa.com/news/local/missouri-republica...  2025-09-10

[5 rows x 59 columns]

In [15]:
len(final_df)

817593

In [23]:
final_df[59]

KeyError: 59

In [21]:
all_data

[                 0         1       2     3          4       5              6  \
 0       1262227594  20240910  202409  2024  2024.6849     NaN            NaN
 1       1262227595  20240910  202409  2024  2024.6849     NaN            NaN
 2       1262227596  20240910  202409  2024  2024.6849     NaN            NaN
 3       1262227597  20240910  202409  2024  2024.6849     NaN            NaN
 4       1262227598  20240910  202409  2024  2024.6849     NaN            NaN
 ...            ...       ...     ...   ...        ...     ...            ...
 147347  1262455227  20250910  202509  2025  2025.6849  USAMIL  UNITED STATES
 147348  1262455228  20250910  202509  2025  2025.6849  USAMIL  UNITED STATES
 147349  1262455229  20250910  202509  2025  2025.6849     idg     INDIGENOUS
 147350  1262455230  20250910  202509  2025  2025.6849     iku          INUIT
 147351  1262455231  20250910  202509  2025  2025.6849     sco       SCOTTISH

           7    8    9  ... 49                                            50  \
 0       NaN  NaN  NaN  ...  1                                 United States
 1       NaN  NaN  NaN  ...  4                         Xiaomi, Fujian, China
 2       NaN  NaN  NaN  ...  2                       Missouri, United States
 3       NaN  NaN  NaN  ...  2                       Missouri, United States
 4       NaN  NaN  NaN  ...  2                          Texas, United States
 ...     ...  ...  ...  ... ..                                           ...
 147347  USA  NaN  NaN  ...  2                      Louisiana, United States
 147348  USA  NaN  NaN  ...  2                      Louisiana, United States
 147349  NaN  NaN  idg  ...  0                                           NaN
 147350  NaN  NaN  iku  ...  1                                        Canada
 147351  NaN  NaN  sco  ...  5  Aberdeenshire, Aberdeenshire, United Kingdom

          51    52         53         54        55        56  \
 0        US    US  39.828175  -98.57950        US  20250910
 1        CH  CH07  25.222500  116.05700  10999868  20250910
 2        US  USMO  38.462300  -92.30200        MO  20250910
 3        US  USMO  38.462300  -92.30200        MO  20250910
 4        US  USTX  31.106000  -97.64750        TX  20250910
 ...     ...   ...        ...        ...       ...       ...
 147347   US  USLA  31.180100  -91.87490        LA  20250910
 147348   US  USLA  31.180100  -91.87490        LA  20250910
 147349  NaN   NaN        NaN        NaN       NaN  20250910
 147350   CA    CA  60.000000  -96.00000        CA  20250910
 147351   UK  UKT6  57.166700   -2.66667  -2587759  20250910

                                                        57        Date
 0       https://voiceonline.com/b-c-premier-david-eby-...  2025-09-10
 1       https://www.scmp.com/business/china-business/a...  2025-09-10
 2       https://khqa.com/news/local/missouri-republica...  2025-09-10
 3       https://khqa.com/news/local/missouri-republica...  2025-09-10
 4       https://khqa.com/news/local/missouri-republica...  2025-09-10
 ...                                                   ...         ...
 147347  https://americanpress.com/2025/09/10/cassidy-a...  2025-09-10
 147348  https://americanpress.com/2025/09/10/cassidy-a...  2025-09-10
 147349  https://www.standard.net.au/story/9062641/poli...  2025-09-10
 147350  https://theturtleislandnews.com/index.php/2025...  2025-09-10
 147351     https://www.bbc.com/news/articles/cg7drnergr7o  2025-09-10

 [147352 rows x 59 columns],
                  0         1       2     3          4          5  \
 0       1262455561  20240911  202409  2024  2024.6877        NaN
 1       1262455562  20240911  202409  2024  2024.6877        NaN
 2       1262455563  20240911  202409  2024  2024.6877        NaN
 3       1262455564  20240911  202409  2024  2024.6877        NaN
 4       1262455565  20240911  202409  2024  2024.6877        NaN
 ...            ...       ...     ...   ...        ...        ...
 146766  1262678295  20250911  202509  2025  2025.6877  VENELIGOV
 146767  1262678296  20250911  202509  2025  2025.6877  VENELIGOV
 146768  1262678297  20250911  202509  2025  2025.6877        chr
 146769  1262678298  20250911  202509  2025  2025.6877        chr
 146770  1262678299  20250911  202509  2025  2025.6877        yor

                        6    7    8    9  ... 49  \
 0                    NaN  NaN  NaN  NaN  ...  4
 1                    NaN  NaN  NaN  NaN  ...  4
 2                    NaN  NaN  NaN  NaN  ...  1
 3                    NaN  NaN  NaN  NaN  ...  1
 4                    NaN  NaN  NaN  NaN  ...  3
 ...                  ...  ...  ...  ...  ... ..
 146766  DIOSDADO CABELLO  VEN  NaN  NaN  ...  3
 146767  DIOSDADO CABELLO  VEN  NaN  NaN  ...  1
 146768          CHEROKEE  NaN  NaN  chr  ...  3
 146769          CHEROKEE  NaN  NaN  chr  ...  3
 146770            YORUBA  NaN  NaN  yor  ...  4

                                                       50  51    52       53  \
 0                Williamtown, New South Wales, Australia  AS  AS02 -32.8167
 1                   Adelaide, South Australia, Australia  AS  AS05 -34.9333
 2                                                  Palau  PS    PS   6.0000
 3                                            New Zealand  NZ    NZ -42.0000
 4               Olmsted County, Minnesota, United States  US  USMN  44.0005
 ...                                                  ...  ..   ...      ...
 146766  White House, District of Columbia, United States  US  USDC  38.8951
 146767                                         Venezuela  VE    VE   8.0000
 146768           Cherokee Park, Tennessee, United States  US  USTN  35.7531
 146769        Jefferson County, Tennessee, United States  US  USTN  36.0501
 146770                             Enugu, Enugu, Nigeria  NI  NI47   6.4402

               54        55        56  \
 0       151.8500  -1609763  20250911
 1       138.6000  -1555188  20250911
 2       134.0000        PS  20250911
 3       174.0000        NZ  20250911
 4       -92.4502    659500  20250911
 ...          ...       ...       ...
 146766  -77.0364    531871  20250911
 146767  -66.0000        VE  20250911
 146768  -83.9852   1308046  20250911
 146769  -83.4499   1639759  20250911
 146770    7.4943  -2006530  20250911

                                                        57        Date
 0       https://www.portnews.com.au/story/9062605/what...  2025-09-11
 1       https://www.abc.net.au/news/2025-09-11/king-ch...  2025-09-11
 2       https://www.nzherald.co.nz/nz/politics/pacific...  2025-09-11
 3       https://www.nzherald.co.nz/nz/politics/pacific...  2025-09-11
 4       https://y105fm.com/ixp/669/p/stewartville-fath...  2025-09-11
 ...                                                   ...         ...
 146766  https://www.cbsnews.com/news/venezuela-drug-bo...  2025-09-11
 146767  https://www.cbsnews.com/news/venezuela-drug-bo...  2025-09-11
 146768  https://www.wdrb.com/news/business/great-flood...  2025-09-11
 146769  https://www.wdrb.com/news/business/great-flood...  2025-09-11
 146770  https://leadership.ng/enugu-smart-school-debat...  2025-09-11

 [146771 rows x 59 columns],
                  0         1       2     3          4    5       6    7    8  \
 0       1262678710  20240912  202409  2024  2024.6904  NaN     NaN  NaN  NaN
 1       1262678711  20240912  202409  2024  2024.6904  NaN     NaN  NaN  NaN
 2       1262678712  20240912  202409  2024  2024.6904  NaN     NaN  NaN  NaN
 3       1262678713  20240912  202409  2024  2024.6904  NaN     NaN  NaN  NaN
 4       1262678714  20240912  202409  2024  2024.6904  NaN     NaN  NaN  NaN
 ...            ...       ...     ...   ...        ...  ...     ...  ...  ...
 136240  1262884671  20250912  202509  2025  2025.6904  ful  FULANI  NaN  NaN
 136241  1262884672  20250912  202509  2025  2025.6904  ful  FULANI  NaN  NaN
 136242  1262884673  20250912  202509  2025  2025.6904  ful  FULANI  NaN  NaN
 136243  1262884674  20250912  202509  2025  2025.6904  ful  FULANI  NaN  NaN
 136244  1262884675  20250912  202509  2025  2025.6904  ful  FULANI  NaN  NaN

           9  ... 49                                         50  51    52  \
 0       NaN  ...  3  Charleston, South Carolina, United States  US  USSC
 1       NaN  ...  2                Pennsylvania, United States  US  USPA
 2       NaN  ...  3     Woodland Park, Colorado, United States  US  USCO
 3       NaN  ...  2                Pennsylvania, United States  US  USPA
 4       NaN  ...  2                Pennsylvania, United States  US  USPA
 ...     ...  ... ..                                        ...  ..   ...
 136240  ful  ...  4                     Ilorin, Kwara, Nigeria  NI  NI30
 136241  ful  ...  4                    Kwara, Zamfara, Nigeria  NI  NI57
 136242  ful  ...  4                    Kwara, Zamfara, Nigeria  NI  NI57
 136243  ful  ...  4                    Kwara, Zamfara, Nigeria  NI  NI57
 136244  ful  ...  4                    Kwara, Zamfara, Nigeria  NI  NI57

              53         54        55        56  \
 0       32.7766  -79.93090   1221516  20250912
 1       40.5773  -77.26400        PA  20250912
 2       38.9939 -105.05700    204768  20250912
 3       40.5773  -77.26400        PA  20250912
 4       40.5773  -77.26400        PA  20250912
 ...         ...        ...       ...       ...
 136240   8.5000    4.55000  -2012174  20250912
 136241  12.3337    6.28493  -2017020  20250912
 136242  12.3337    6.28493  -2017020  20250912
 136243  12.3337    6.28493  -2017020  20250912
 136244  12.3337    6.28493  -2017020  20250912

                                                        57        Date
 0             https://www.nbcnews.com/politics/rcna230632  2025-09-12
 1       https://www.kunc.org/news/2025-09-11/shaken-la...  2025-09-12
 2       https://www.kunc.org/news/2025-09-11/shaken-la...  2025-09-12
 3       https://www.kunc.org/news/2025-09-11/shaken-la...  2025-09-12
 4       https://www.kunc.org/news/2025-09-11/shaken-la...  2025-09-12
 ...                                                   ...         ...
 136240  https://blueprint.ng/2027-apc-elders-endorse-p...  2025-09-12
 136241  https://blueprint.ng/2027-apc-elders-endorse-p...  2025-09-12
 136242  https://blueprint.ng/2027-apc-elders-endorse-p...  2025-09-12
 136243  https://blueprint.ng/2027-apc-elders-endorse-p...  2025-09-12
 136244  https://blueprint.ng/2027-apc-elders-endorse-p...  2025-09-12

 [136245 rows x 59 columns],
                 0         1       2     3          4       5  \
 0      1262885080  20240913  202409  2024  2024.6932     NaN
 1      1262885081  20240913  202409  2024  2024.6932     USA
 2      1262885082  20250814  202508  2025  2025.6137     NaN
 3      1262885083  20250814  202508  2025  2025.6137  GOVMIL
 4      1262885084  20250814  202508  2025  2025.6137  GOVMIL
 ...           ...       ...     ...   ...        ...     ...
 82133  1263016559  20250913  202509  2025  2025.6932     apa
 82134  1263016560  20250913  202509  2025  2025.6932     apa
 82135  1263016561  20250913  202509  2025  2025.6932     don
 82136  1263016562  20250913  202509  2025  2025.6932     don
 82137  1263016563  20250913  202509  2025  2025.6932     hau

                                6    7    8    9  ... 49  \
 0                            NaN  NaN  NaN  NaN  ...  4
 1                  UNITED STATES  USA  NaN  NaN  ...  2
 2                            NaN  NaN  NaN  NaN  ...  2
 3      NATIONAL SECURITY ADVISER  NaN  NaN  NaN  ...  2
 4      NATIONAL SECURITY ADVISER  NaN  NaN  NaN  ...  2
 ...                          ...  ...  ...  ...  ... ..
 82133                     APACHE  NaN  NaN  apa  ...  1
 82134                     APACHE  NaN  NaN  apa  ...  1
 82135                       DONG  NaN  NaN  don  ...  1
 82136                       DONG  NaN  NaN  don  ...  1
 82137                      HAUSA  NaN  NaN  hau  ...  4

                                         50  51    52       53         54  \
 0             Thunder Bay, Ontario, Canada  CA  CA08  48.4000  -89.23330
 1                 Minnesota, United States  US  USMN  45.7326  -93.91960
 2                 Wisconsin, United States  US  USWI  44.2563  -89.63850
 3                  New York, United States  US  USNY  42.1497  -74.93840
 4                  New York, United States  US  USNY  42.1497  -74.93840
 ...                                    ...  ..   ...      ...        ...
 82133                                China  CH    CH  35.0000  105.00000
 82134                                China  CH    CH  35.0000  105.00000
 82135                          South Korea  KS    KS  37.0000  127.50000
 82136                          South Korea  KS    KS  37.0000  127.50000
 82137  Or Igbo, Nigeria (general), Nigeria  NI  NI00   7.3000    4.01667

              55        56                                                 57  \
 0       -574784  20250913  https://www.stcatharinesstandard.ca/news/niaga...
 1            MN  20250913  https://www.tribtoday.com/opinion/editorials/2...
 2            WI  20250913  https://www.dallasnews.com/business/retail/202...
 3            NY  20250913  https://www.kugn.com/2025/09/12/report-bolton-...
 4            NY  20250913  https://www.kugn.com/2025/09/12/report-bolton-...
 ...         ...       ...                                                ...
 82133        CH  20250913  https://theaviationist.com/2025/09/13/us-army-...
 82134        CH  20250913  https://theaviationist.com/2025/09/13/us-army-...
 82135        KS  20250913  http://www.kdramastars.com/articles/136904/202...
 82136        KS  20250913  http://www.kdramastars.com/articles/136904/202...
 82137  -2024046  20250913  https://saharareporters.com/2025/09/13/emir-sa...

              Date
 0      2025-09-13
 1      2025-09-13
 2      2025-09-13
 3      2025-09-13
 4      2025-09-13
 ...           ...
 82133  2025-09-13
 82134  2025-09-13
 82135  2025-09-13
 82136  2025-09-13
 82137  2025-09-13

 [82138 rows x 59 columns],
                 0         1       2     3          4       5              6  \
 0      1263016853  20240914  202409  2024  2024.6959     NaN            NaN
 1      1263016854  20240914  202409  2024  2024.6959     BUS       BUSINESS
 2      1263016855  20240914  202409  2024  2024.6959     BUS       BUSINESS
 3      1263016856  20240914  202409  2024  2024.6959     USA      MINNESOTA
 4      1263016857  20240914  202409  2024  2024.6959     USA      MINNESOTA
 ...           ...       ...     ...   ...        ...     ...            ...
 67039  1263130558  20250914  202509  2025  2025.6959  USAJUD  UNITED STATES
 67040  1263130559  20250914  202509  2025  2025.6959  USALEG  UNITED STATES
 67041  1263130560  20250914  202509  2025  2025.6959  USALEG      MINNESOTA
 67042  1263130561  20250914  202509  2025  2025.6959  USALEG      MINNESOTA
 67043  1263130562  20250914  202509  2025  2025.6959     was         WASHOE

          7    8    9  ... 49  \
 0      NaN  NaN  NaN  ...  4
 1      NaN  NaN  NaN  ...  4
 2      NaN  NaN  NaN  ...  1
 3      USA  NaN  NaN  ...  2
 4      USA  NaN  NaN  ...  2
 ...    ...  ...  ...  ... ..
 67039  USA  NaN  NaN  ...  3
 67040  USA  NaN  NaN  ...  2
 67041  USA  NaN  NaN  ...  3
 67042  USA  NaN  NaN  ...  2
 67043  NaN  NaN  was  ...  0

                                                      50   51    52       53  \
 0            Mansfield, Nottinghamshire, United Kingdom   UK  UKJ9  53.1333
 1               Chipping Barnet, Barnet, United Kingdom   UK  UKA2  51.6500
 2                                                 Japan   JA    JA  36.0000
 3                              Minnesota, United States   US  USMN  45.7326
 4                              Minnesota, United States   US  USMN  45.7326
 ...                                                 ...  ...   ...      ...
 67039              Boston, Massachusetts, United States   US  USMA  42.3584
 67040                           New York, United States   US  USNY  42.1497
 67041  White House, District of Columbia, United States   US  USDC  38.8951
 67042                          Minnesota, United States   US  USMN  45.7326
 67043                                               NaN  NaN   NaN      NaN

              54        55        56  \
 0       -1.2000  -2602538  20250914
 1       -0.2000  -2589296  20250914
 2      138.0000        JA  20250914
 3      -93.9196        MN  20250914
 4      -93.9196        MN  20250914
 ...         ...       ...       ...
 67039  -71.0598    617565  20250914
 67040  -74.9384        NY  20250914
 67041  -77.0364    531871  20250914
 67042  -93.9196        MN  20250914
 67043       NaN       NaN  20250914

                                                       57        Date
 0      https://www.thisismoney.co.uk/money/experts/ar...  2025-09-14
 1      https://www.thisismoney.co.uk/money/markets/ar...  2025-09-14
 2      https://www.thisismoney.co.uk/money/markets/ar...  2025-09-14
 3      https://latinalista.com/new-headline/september...  2025-09-14
 4      https://latinalista.com/new-headline/september...  2025-09-14
 ...                                                  ...         ...
 67039  https://www.boston.com/news/crime/2025/09/14/d...  2025-09-14
 67040  https://www.skynews.com.au/australia-news/keep...  2025-09-14
 67041  https://www.aol.com/articles/republicans-blame...  2025-09-14
 67042  https://www.aol.com/articles/republicans-blame...  2025-09-14
 67043  https://www.kolotv.com/2025/09/14/agency-looks...  2025-09-14

 [67044 rows x 59 columns],
                  0         1       2     3          4       5               6  \
 0       1263130848  20240915  202409  2024  2024.6986     NaN             NaN
 1       1263130849  20240915  202409  2024  2024.6986     BUS        EMPLOYER
 2       1263130850  20240915  202409  2024  2024.6986     BUS        EMPLOYER
 3       1263130851  20240915  202409  2024  2024.6986     GBR  UNITED KINGDOM
 4       1263130852  20240915  202409  2024  2024.6986     GBR  UNITED KINGDOM
 ...            ...       ...     ...   ...        ...     ...             ...
 121685  1263321832  20250915  202509  2025  2025.6986     VEN      VENEZUELAN
 121686  1263321833  20250915  202509  2025  2025.6986     VEN      VENEZUELAN
 121687  1263321834  20250915  202509  2025  2025.6986     VEN      VENEZUELAN
 121688  1263321835  20250915  202509  2025  2025.6986  VENGOV      VENEZUELAN
 121689  1263321836  20250915  202509  2025  2025.6986     ZAF      FREE STATE

           7    8    9  ... 49  \
 0       NaN  NaN  NaN  ...  2
 1       NaN  NaN  NaN  ...  3
 2       NaN  NaN  NaN  ...  2
 3       GBR  NaN  NaN  ...  1
 4       GBR  NaN  NaN  ...  1
 ...     ...  ...  ...  ... ..
 121685  VEN  NaN  NaN  ...  1
 121686  VEN  NaN  NaN  ...  1
 121687  VEN  NaN  NaN  ...  4
 121688  VEN  NaN  NaN  ...  1
 121689  ZAF  NaN  NaN  ...  2

                                                      50  51    52       53  \
 0                               Illinois, United States  US  USIL  40.3363
 1       Washington, District of Columbia, United States  US  USDC  38.8951
 2                               New York, United States  US  USNY  42.1497
 3                                               Ireland  EI    EI  53.0000
 4                                        United Kingdom  UK    UK  54.0000
 ...                                                 ...  ..   ...      ...
 121685                                        Venezuela  VE    VE   8.0000
 121686                                        Venezuela  VE    VE   8.0000
 121687             Caracas, Distrito Federal, Venezuela  VE  VE25  10.5000
 121688                                        Venezuela  VE    VE   8.0000
 121689                        California, United States  US  USCA  36.1700

               54       55        56  \
 0       -89.0022       IL  20250915
 1       -77.0364   531871  20250915
 2       -74.9384       NY  20250915
 3        -8.0000       EI  20250915
 4        -4.0000       UK  20250915